{% extends "base.html" %}
{% block header %}
<!--about-image-->
<section id="about-image">
    <div class="container">
        <div class="row">
            <div class="col-12 p-0">
                <div class="page-image-container">
                    <div class="heading-image">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 col-md-6 hero-text">
                                    <p class="mgd-display-1">About us</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/about-image-->

<!--breadcrumb-->
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About us</a></li>
        </ol>
    </nav>
</div>
<!--/breadcrumb-->

<!--about-->
<section id="privacy" class="my-4">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-9">
                <h3>Hello there!</h3>
                <p>I am the sweet vegan and I'm delighted you're here.</p>
                <p>Whether you are new or have been around for awhile, I’m so glad you’re here.</p>
                <p>I share vegan recipes that are easy to make and even easier to eat.</p>
                <p>Here you will find a selection of tasty recipes with no dairy or eggs. Everyone is welcome, whether you are
                    looking for allergy friendly baked goods or vegan desserts.</p>
            </div>
        </div>
    </div>
</section>
<!--/about-->

{% endblock %}

{% block footer %}
{% endblock %}