{% extends "base.html" %}
{% block header %}
<!--add-category-image-->
<section id="add-category-image">
    <div class="container">
        <div class="row">
            <div class="col-12 p-0">
                <div class="page-image-container">
                    <div class="add-category-image">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6 hero-text">
                                    <p class="mgd-display-1">Add category</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/add-category-image-->

<!--add-category-->
<section id="add-category">
    <div class="container">
        <div class="row justify-content-center py-3">
            <div class="col-12 col-md-6">
                <h6 class="mb-3">Complete the form below to add a category.</h6>
                <form method="POST" class="contact-form" action="{{ url_for('add_category') }}" novalidate>
                    <div class="mb-3">
                        <input type="text" class="form-control validate" name="category_name" id="category_name"
                            placeholder="Category name (Required)" maxlength="50" required>
                    </div>
                    <div class="mb-3"> 
                        <input class="form-control" type="file" name="category_image_file" id="category_image_file" >
                    </div>
                    <button type="submit" class="btn btn-md btn-main submit-btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!--/add_category-->
{% endblock %}

{% block footer %}
{% endblock %}