{% extends "base.html" %}
{% block header %}
<!--add_category-->
<section id="add_category">
    <div class="container">


        <div class="row">
            <div class="col-12 col-md-3">
                <div class="add-category-image"></div>
            </div>

            <div class="col-12 col-md-6">
                <form method="POST" class="contact-form" action="{{ url_for('add_category') }}" novalidate>
                    <h4>Add a category</h4>
                    <p>Use the form below to add a category.</p>
                    <div class="mb-3">
                        <input type="text" class="form-control validate" name="category_name" id="category_name"
                            placeholder="Category name (Required)" maxlength="50" required>
                    </div>
                    <button type="submit" class="btn btn-md btn-main submit-btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!--/add_category-->
{% endblock %}

{% block footer %}
{% endblock %}