{% extends "base.html" %}
{% block header %}
<!--add-recipe-image-->
<section id="add-recipe-image">
    <div class="container">
        <div class="row">
            <div class="col-12 p-0">
                <div class="page-image-container">
                    <div class="heading-image ">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 col-md-6 hero-text">
                                    <p class="mgd-display-1">Add recipe</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/add-recipe-image-->

<!--breadcrumb-->
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('recipes') }}">Recipes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add recipes</li>
        </ol>
    </nav>
</div>
<!--/breadcrumb-->

<!--add-recipe-->
<section id="add-recipe">
    <div class="container">
        <div class="row justify-content-center py-3">
            <div class="col-12 col-md-6">
                <h5 class="mb-3">Complete the form below to add a recipe.</h5>
                <form method="POST" class="contact-form" action="{{ url_for('add_recipe') }}" novalidate>
                    <div class="mb-3">
                        <input type="text" class="form-control validate" name="recipe_name" id="recipe_name"
                            placeholder="Recipe name (Required)" maxlength="50" required>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <input type="number" class="form-control validate" name="recipe_prep" id="recipe_prep"
                                    placeholder="Preparation time (Required)" min="1" max="60" step="1">
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <input type="number" class="form-control validate" name="recipe_bake" id="recipe_bake"
                                    placeholder="Bake time (Required)" min="1" max="60" step="1">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <input type="number" class="form-control validate" name="recipe_serves" id="recipe_serves"
                                    placeholder="Serves (Required)" min="1" max="10" step="1">
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <select class="form-select" name="recipe_difficulty" id="recipe_difficulty" aria-label="Default select example">
                                    <option value="" disabled selected>Difficulty (Required)</option>
                                    <option value="Easy">Easy</option>
                                    <option value="A little effort">A little effort</option>
                                    <option value="A challenge">A challenge</option>
                                    <option value="Ambitious">Ambitious</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <textarea type="text" class="form-control" name="recipe_ingredients" id="recipe_ingredients"
                            placeholder="Ingredients (Required)" required></textarea>
                    </div>           
                    <div class="mb-3">
                        <textarea type="text" class="form-control" name="recipe_desc" id="recipe_desc"
                            placeholder="Instructions (Required)" required></textarea>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control validate" name="image_url" id="image_url"
                            placeholder="Image URL (Required)" required>
                    </div>
                    <!-- category-id -->
                    <select id="category_id" name="category_id" class="form-select" required>
                        <option value="" disabled selected>Choose a category</option>
                        {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                    <!-- submit button -->
                    <br>
                    <button type="submit" class="btn btn-md btn-main submit-btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!--/add_recipe-->
{% endblock %}

{% block footer %}
{% endblock %}