{% extends "base.html" %}
{% block header %}
<!--full-recipe-image-->
<section id="recipes-image">
    <div class="container">
        <div class="row">
            <div class="col-12 p-0">
                <div class="page-image-container">
                    <div class="heading-image ">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6 hero-text">
                                    <p class="mgd-display-1">{{ recipe.recipe_name }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/full-recipe-image-->

<!--/full-recipe-->
<section id="recipes">
    <div class="container">
        <div class="row justify-content-center ">

            <div class="col-12 col-md-8">
                <div class="recipe-card p-2">


                    <div class="recipe-card-image-container">
                        {% if recipe.image_url %}
                        <img src="{{ recipe.image_url }}" alt="Image of recipe" class="recipe-card-image">
                        {% else %}
                        <img src="{{ url_for('static', filename='/img/cake_1.webp') }}" alt="Image of recipe"
                            class="recipe-card-image">
                        {% endif %}
                    </div>
                    <h3 class="card-title mt-2">{{ recipe.recipe_name }}</h3>
                    <p>Created By: {{ recipe.created_by }}</p>

                    <a href="{{ url_for('full_recipe', recipe_id=recipe._id) }}">
                        <span class="full-recipe-link"></span>
                    </a>

                    <table class="recipe-table my-2">
                        <tr>
                            <td>Prep</td>
                            <td>Bake</td>
                            <td>Serves</td>
                            <td>Difficulty</td>
                        </tr>
                        <tr>
                            <td>{{ recipe.recipe_prep }} mins</td>
                            <td>{{ recipe.recipe_bake }} mins </td>
                            <td>{{ recipe.recipe_serves }} people</td>
                            <td>{{ recipe.recipe_difficulty }}</td>
                        </tr>
                    </table>
                </div>
       
            </div>
        </div>
    </section>
<!--/full-recipe-->
{% endblock %}

{% block footer %}
{% endblock %}