{% extends "base.html" %}
{% block header %}
<!--full-recipe-image-->
<section id="recipes-image">
    <div class="container">
        <div class="row">
            <div class="col-12 p-0">
                <div class="page-image-container">
                    <div class="heading-image ">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6 hero-text">
                                    <p class="mgd-display-1">{{ recipe.recipe_name }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/full-recipe-image-->

<!--/full-recipe-->
<section id="recipes">
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-6">
                <div class="full-recipe-image-container">
                    {% if recipe.image_url %}
                    <img src="{{ recipe.image_url }}" alt="Image of recipe" class="full-recipe-image">
                    {% else %}
                    <img src="{{ url_for('static', filename='/img/cake_1.webp') }}" alt="Image of recipe"
                        class="full-recipe-image">
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6">
                <h5>At a  glance:</h5>
                <table class="recipe-table my-2">
                    <tr>
                        <td>Prep</td>
                        <td>Bake</td>
                        <td>Serves</td>
                        <td>Difficulty</td>
                    </tr>
                    <tr>
                        <td>{{ recipe.recipe_prep }} mins</td>
                        <td>{{ recipe.recipe_bake }} mins </td>
                        <td>{{ recipe.recipe_serves }} people</td>
                        <td>{{ recipe.recipe_difficulty }}</td>
                    </tr>
                </table>
                <h5>Ingredients:</h5>
                <p>{{ recipe.recipe_ingredients }}</p>
                <h5>Instructions:</h5>
                <p>{{ recipe.recipe_inst }}</p>
            </div>
        </div>
    </div>
</section>
<!--/full-recipe-->
{% endblock %}

{% block footer %}
{% endblock %}