{% extends "base.html" %}
{% block header %}
<!--login-image-->
<section id="login-image">
    <div class="container">
        <div class="row">
            <div class="col-12 p-0">
                <div class="login-image-container">
                    <div class="login-image ">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6 hero-text">
                                    <p class="mgd-display-1">Log in</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/login-image-->

<!--login-->
<section id="login" class="my-4">
    <div class="container">
        <div class="row" style="justify-content:center">
            <div class="col-12 col-md-4 login-col">
                <form action="{{ url_for('login') }}" method="POST">
                    <div class="mb-3">
                        <input type="text" class="form-control" name="username" id="username" placeholder="User name" required>
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                    </div>
                    <p><a href="{{ url_for('index') }}">Forgot password?</a></p>
                    <button type="submit" class="btn btn-main" aria-label="Login">Login</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!--/login-->
{% endblock %}

{% block footer %}
{% endblock %}