{% extends "base.html" %}
{% block header %}
<!--profile-image-->
<section id="login-image">
    <div class="container">
        <div class="row">
            <div class="col-12 p-0">
                <div class="page-image-container">
                    <div class="heading-image ">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6 hero-text">
                                    <p class="mgd-display-1">{{ session.user }}'s profile</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/profile-image-->

<!--profile-->
<section id="profile" class="my-4">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-9">
                <p>Hello, {{ session.user }}. Are you feeling peckish?</p>
                <p>Below are your recipes:</p>
                {% if recipe_list %}
                    {% for recipe in recipe_list %}
                        <h4>{{ recipe.recipe_name }}</h4>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!--/profile-->
{% endblock %}

{% block footer %}
{% endblock %}