{% extends "base.html" %}
{% block header %}
<!--recipes-image-->
<section id="recipes-image">
    <div class="container">
        <div class="row">
            <div class="col-12 p-0">
                <div class="recipes-image-container">
                    <div class="recipes-image ">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6 hero-text">
                                    <p class="mgd-display-1">Recipes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/recipes-image-->

<!--/recipes-->
<section id="recipes">
    <div class="container">
        <div class="row py-3">
            <div class="col-12 col-md-3">
                <a class="btn btn-lg btn-primary" role="button" href="{{ url_for('add_recipe') }}">Add a recipe</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    {% for recipe in recipes|sort(attribute="recipe_name") %}
                    <div class="col-md-6">
                        <div class="recipe-card">


                            <h5 class="card-title">{{ recipe.recipe_name }}</h5>
                            
                                <table class="recipe-table">
                                    <tr>
                                        <td><i class="fas fa-list"></i></td>
                                        <td><i class="far fa-clock"></i></td>
                                        <td><i class="fas fa-user-friends"></i></td>
                                        <td><i class="fas fa-star"></i></td>
                                    </tr>
                                    <tr>
                                        <td>Prep</td>
                                        <td>Bake</td>
                                        <td>Serves</td>
                                        <td>Easy</td>
                                    </tr>
                                </table>

                                <p>{{ recipe.recipe_desc }}</p>

                                <span>
                                    <a class="btn btn-sm btn-success"
                                        href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}"
                                        role="button">Edit</a>
                                    <a class="btn btn-sm btn-danger"
                                        href="{{ url_for('delete_recipe', recipe_id=recipe.id) }}"
                                        role="button">Delete</a>
                                </span>
                            




                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!--/recipes-->
{% endblock %}

{% block footer %}
{% endblock %}