{% extends "base.html" %}
{% block header %}
<!--recipes-image-->
<section id="recipes-image">
    <div class="container">
        <div class="row">
            <div class="col-12 p-0">
                <div class="page-image-container">
                    <div class="heading-image ">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6 hero-text">
                                    <p class="mgd-display-1">Recipes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/recipes-image-->

<!--/recipes-->
<section id="recipes">
    <div class="container">
        <div class="row py-3">
            <div class="col-12 col-md-3">
                <a class="btn btn-lg btn-primary" role="button" href="{{ url_for('add_recipe') }}">Add a recipe</a>
            </div>
        </div>
        <div class="row justify-content-center g-3">
        {% if recipes|length > 0 %}
            {% for recipe in recipes %}
            <div class="col-12 col-md-4">
                <div class="recipe-card p-2">
                    <div class="recipe-card-image-container">
                        {% if recipe.image_url %}
                            <img src="{{ recipe.image_url }}" alt="Image of recipe" class="recipe-card-image">
                        {% else %}
                            <img src="{{ url_for('static', filename='/img/cake_1.webp') }}" alt="Image of recipe" class="recipe-card-image">
                        {% endif %}
                    </div>
                    <h3 class="card-title mt-2">{{ recipe.recipe_name }}</h3>
                    <p>Created By: {{ recipe.created_by }}</p>

                    <a href="{{ url_for('full_recipe', recipe_id=recipe._id) }}">
                        <span class="full-recipe-link"></span>
                    </a>

                    <table class="recipe-table my-2">
                        <tr>
                            <td>Prep</td>
                            <td>Bake</td>
                            <td>Serves</td>
                            <td>Difficulty</td>
                        </tr>
                        <tr>
                            <td>{{ recipe.recipe_prep }} mins</td>
                            <td>{{ recipe.recipe_bake }} mins </td>
                            <td>{{ recipe.recipe_serves }} people</td>
                            <td>{{ recipe.recipe_difficulty }}</td>
                        </tr>
                    </table>
                    <span>
                    {% if session.user|lower == recipe.created_by|lower or session.user|lower == 'admin' %}
                        <a class="btn btn-sm btn-success" href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                            role="button">Edit</a>
                        <a class="btn btn-sm btn-danger" href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                            role="button">Delete</a>
                    {% endif %}
                    </span>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
</section>
<!--/recipes-->
{% endblock %}

{% block footer %}
{% endblock %}