{% extends "base.html" %}
{% block header %}
<!--register-image-->
<section id="register-image">
    <div class="container">
        <div class="row">
            <div class="col-12 p-0">
                <div class="register-image-container">
                    <div class="register-image ">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6 hero-text">
                                    <p class="mgd-display-1">Register</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/register-image-->

<!--register-->
<section id="register" class="my-4">
    <div class="container">
        <div class="row" style="justify-content:center">
            <div class="col-12 col-md-6 register-col">
                  <p>Complete the form below to register for a free account.</p>
                <form method="POST" action="{{ url_for('register') }}">
                    <div class="mb-3">
                        <input type="text" class="form-control" name="username" id="username"
                            placeholder="User name (Required)" minlength="4" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First name (Required)" minlength="2"
                            required>
                            <!-- data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top" -->
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password" id="password"
                            placeholder="Password (Required)" minlength="8" required>
                    </div>
                    <p>By clicking register, you confirm you are over 16 and you agree to our <a
                            href="{{ url_for('terms') }}">terms and conditions</a> and <a
                            href="{{ url_for('privacy') }}">privacy policy</a>.</p>
                    <button type="submit" class="btn btn-main" aria-label="Register">Register</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!--/register-->
{% endblock %}

{% block footer %}
{% endblock %}