@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&display=swap');

:root {
	--brand-color: #E4AE0B;
	--accent-color: #936B6A;
	--light-color: #F2EBEE;
	--mid-color: #0D0D0D;
	--dark-color: #0D0000;
	--white: #FFFFFF;
	--heart: #ffb3be;

	--brand-font: 'Poiret One', cursive;
	--primary-font: 'Didact Gothic', sans-serif;
	--signature: 'M PLUS 1 Code', cursive;
}

* {
	box-sizing: border-box;
	font-family: var(--primary-font);
}

html {
	font-size: 16px;
}

p {
	font-size: 1.1rem;
	font-family: var(--primary-font);
}

/*----------------------------------------------------------------------------base-*/
/*-------------------------------------------------header-*/

#navbarText {
	justify-content: flex-end;
}

.navbar-brand,
.navbar-brand:hover {
	color: var(--dark-color);
	font-family: var(--brand-font);
	font-size: 2.2rem;
}

.navbar-toggler {
	border: none;
}

.navbar-toggler:focus {
	box-shadow: none;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28253,	200,	7, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link,
.nav-link:hover {
	margin: auto 0.5rem;
	color: var(--brand-color);
	font-family: var(--primary-font);
	font-size: 1.25rem;
	font-weight: 500;
}

.header-buttons {
	position: absolute;
	right: 1rem;
}

/*-------------------------------------------------footer-*/

#footer {
	position: relative;
	bottom: 0;
	color: var(--dark-color);
}

#footer .container {
	border-top: 1px solid var(--brand-color);
}

#footer ul {
	list-style: none;
	padding: 0;
}

#footer li {
	margin-bottom: 0.25rem;
}

#footer a {
	color: inherit;
	text-decoration: none;
}

.footer-heading {
	font-weight: 700;
}

#footer {
	color: var(--dark-color);
}

#footer p {
	margin: 0;
	font-size: 1rem;
}

.footer-right {
	text-align: right;
}

.social-media-icon {
	margin-right: 1.5rem;
	color: inherit;
	font-size: 1.25rem;
}

.strong {
	font-weight: 600;
}

.footer-row {
	text-align: center;
}

.signature {
	font-family: var(--signature);
}

.hvr-pulse:hover {
	color: var(--heart);
}

/*---------------------------------------------------------------------------index-*/
/*---------------------------------------------------hero-*/

.hero-image-container {
	height: 32rem;
}

.hero-image {
	height: 100%;
	background: url("../img/hero.webp") no-repeat center;
	background-size: cover;
	display: flex;
	align-items: center;
}

.hero-text {
	padding: 0.5rem;
	color: var(--white);
	background-color: rgba(147, 107, 106, 0.8);
}

/*--------------------------------------------quick-links-*/

.quick-links-image-container {
	height: 12rem;
	width: auto;
}

.quick-links-image {
	height: 100%;
	background-color: var(--light-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.image2 {
	background: url("../img/cake_1.webp") no-repeat center;
	background-size: auto;
}

.image3 {
	background: url("../img/cake_2.webp") no-repeat center;
	background-size: 100%;
}

.image4 {
	background: url("../img/cake_3.webp") no-repeat center;
	background-size: 100%;
}

.quick-links-text,
.quick-links-text a {
	color: var(--white);
	font-family: var(--brand-font);
	font-size: 2.5rem;
	font-weight: 300;
	text-decoration: none;
	background-color: rgba(147, 107, 106, 0.6);
}

/*-----------------------------------------------features-*/

.features-text-left,
.features-text-right {
	display: flex;
	align-content: center;
	flex-wrap: wrap;
}

.features-text-left {
	justify-content: flex-end;
	text-align: right;
}

.features-text-right {
	justify-content: flex-start;
	text-align: left;
}

.features-image-container {
	height: 20rem;
	width: auto;
}

.features-image {
	height: 100%;
	background: url("../img/hero.webp") no-repeat center;
	background-size: cover;
}

/*-------------------------------------------categories/add-category/edit-category-*/

.category-card-overlay {
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.category-card {
	height: 12rem;
	margin-bottom: 1.5rem;
}

.category-card-image {
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.category-card-text {
	color: var(--white);
	font-family: var(--brand-font);
	font-size: 2.5rem;
	font-weight: 300;
	background-color: rgba(147, 107, 106, 0.8);
}

/*--------------------------------------------------recipes/add-recipe/edit-recipe-*/

#recipes h6 {
	color: var(--accent-color);
	font-size: large;
}

.recipe-table {
	width: 100%;
	font-size: 1rem;
	text-align: center;
}

.recipe-card {
	border: 1px solid var(--accent-color);
	cursor: pointer;
    position: relative;
}

.recipe-card-image-container {
	width: 100%;
	height: 200px;
}

.recipe-card-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.full-recipe-link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
  }

/*---------------------------------------------------------------------full-recipe-*/  

.full-recipe-image-container {
	width: 100%;
	height: 50vh;
}

.full-recipe-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*-------------------------------------------------------------------------profile-*/

#profile {
	height: 55vh;
}

/*-------------------------------------------------------------------------contact-*/

.contact-info td {
	padding-right: 1rem;
	padding-bottom: 1rem;
	font-size: 1.375rem;
}

.contact-info a {
	color: inherit;
	text-decoration: none;
}

.contact-info a:hover {
	color: var(--secondary-text-color);
	font-weight: 600;
}

.contact-info .icon {
	color: var(--brand-color);
}

/*----------------------------------------------------------------------------misc-*/
/*------------------------------------------------buttons-*/

.btn-main,
.btn-main:hover {
	color: var(--dark-color);
	font-weight: 500;
	background: var(--brand-color);
}

.btn-main-reverse,
.btn-main-reverse:hover {
	margin-right: 0.5rem;
	color: var(--brand-color);
	font-weight: 500;
	background: var(--dark-color);
}

/*------------------------------------------display-fonts-*/
.mgd-display-1 {
	font-family: var(--brand-font);
	font-size: 3.25rem;
}

.mgd-display-2 {
	font-size: 4.25rem;
	line-height: 0.75;
}

.mgd-display-3 {
	font-size: 1.5rem;
	margin-top: 2rem;
	color: pink;
}

/*COLOR TBC*/
.mgd-underline {
	border-bottom: 1px solid var(--light-color);
}

.page-image-container {
	height: 12rem;
}

.heading-image {
	height: 100%;
	background: url("../img/hero.webp") no-repeat center;
	background-size: cover;
	display: flex;
	align-items: center;
}

/*-----------------------------------------flash-messages-*/

.flash-container {
	padding-left: 0;
	padding-right: 0;
}

/*---------------------------------------------breadcrumb-*/

.breadcrumb {
	margin-top: 0.75rem;
	margin-bottom: 0;
}

/*-------------------------------------------------------------------media-queries-*/

/* @media screen and (max-width: 1024px) */


/* @media screen and (max-width: 768px) */

/* @media screen and (max-width: 425px) */

/* @media screen and (max-width: 375px) */

@media screen and (max-width: 320px) {
	html {
		font-size: 14.5px;
	}
	.footer-left {
		display: flex;
		justify-content: center;
		margin-bottom: 1rem;
	}
	.footer-right {
		text-align: center;
	}
	.features-image-container {
		height: 12rem;
	}
	.mgd-display-1,
	.mgd-display-2 {
		line-height: 1;
	}
	.mgd-display-3 {
		margin-top: 1rem;
	}
	.contact-info {
		margin-top: 3rem;
	}
	.full-recipe-right {
		padding-top: 1rem;
	}
}